.element__delete-button {
  background: url(../../../images/delete.svg) no-repeat center;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  transition: .2s;
}

.element__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}