.popup__close-button {
  width: 32px;
  height: 32px;
  background: url(../../../images/button-close.svg) no-repeat center transparent;
  background-size: cover;
  border: none;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: .2s;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }   
}