.profile {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 660px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }   
}

@media screen and (max-width: 400px) {
  .profile {
    margin: 42px 0 0;
  }   
}