.elements {
  margin: 51px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 21px 17px;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .elements {
    margin: 36px 0 0;
  }   
}