.profile__add-button{
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../../../images/plus.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  align-self: center;
  transition: 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .profile__add-button {
    margin-top: 33px;
    width: 282px;
    background-image: url(../../../images/plus-small.svg);
  }   
}