.popup__close-button {
  width: 32px;
  height: 32px;
  background: url(../../../images/button-close.svg);
  background-size: cover;
  border: none;
  padding: 0;
  position: absolute;
  left: 438px;
  top: -41px;
  transition: 0.2s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    left: 262px;
    top: -36px;
  }   
}