.popup__save-button {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: black;
  align-self: center;
  color: white;
  margin: 48px 0 37px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  transition: 0.2s;
  border: none;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 18px;
    margin: 45px 0 25px;
  }   
}