.popup__save-button {
  width: 360px;
  height: 50px;
  border-radius: 2px;
  background-color: black;
  align-self: center;
  color: white;
  margin-top: 48px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  transition: 0.2s;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }   
}