.element__button {
  width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg) no-repeat;
  align-self: center;
  border: 0;
  padding: 0;
  transition: 0.2s;
}

.element__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__button:active {
  background: url(../../../images/heart-black.svg) no-repeat;
}